In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
covid=pd.read_csv('covid_19_data.csv')

In [6]:
covid.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [7]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25959 entries, 0 to 25958
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              25959 non-null  int64
 1   ObservationDate  25959 non-null  object
 2   Province/State   12490 non-null  object
 3   Country/Region   25959 non-null  object
 4   Last Update      25959 non-null  object
 5   Confirmed        25959 non-null  float64
 6   Deaths           25959 non-null  float64
 7   Recovered        25959 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 1.6+ MB

In [8]:
covid.drop(['SNo'],1,inplace=True)

In [9]:
covid['ObservationDate']=pd.to_datetime(covid['ObservationDate'])

In [10]:
covid

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,2020-01-22,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...
25954,2020-05-17,Wyoming,US,2020-05-18 02:32:21,754.0,8.0,0.0
25955,2020-05-17,Xinjiang,Mainland China,2020-05-18 02:32:21,76.0,3.0,73.0
25956,2020-05-17,Yukon,Canada,2020-05-18 02:32:21,11.0,0.0,11.0
25957,2020-05-17,Yunnan,Mainland China,2020-05-18 02:32:21,185.0,2.0,183.0
25958,2020-05-17,Zhejiang,Mainland China,2020-05-18 02:32:21,1268.0,1.0,1267.0

In [11]:
datewise=covid.groupby(['ObservationDate']).agg({'Confirmed':'sum','Recovered':'sum','Deaths':'sum'})

In [12]:
datewise

                 Confirmed  Recovered    Deaths
ObservationDate
2020-01-22           555.0       28.0      17.0
2020-01-23           653.0       30.0      18.0
2020-01-24           941.0       36.0      26.0
2020-01-25          1438.0       39.0      42.0
2020-01-26          2118.0       52.0      56.0
...                    ...        ...       ...
2020-05-13       4347018.0  1548547.0  297197.0
2020-05-14       4442163.0  1587893.0  302418.0
2020-05-15       4542347.0  1637067.0  307666.0
2020-05-16       4634068.0  1693197.0  311781.0
2020-05-17       4713620.0  1733963.0  315185.0

[117 rows x 3 columns]

In [13]:


fig=px.bar(x=datewise.index,y=datewise["Confirmed"]-datewise["Recovered"]-datewise["Deaths"])
fig.update_layout(title="Distribution of Number of Active Cases",
                  xaxis_title="Date",yaxis_title="Number of Cases",)
fig.show()

NameError: name 'px' is not defined