In [ ]:
#Colab users uncomment this code
#File for this notebook is Ecommerce Purchases.csv

In [ ]:
"""
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
"""

In [ ]:
"""
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
"""

In [ ]:
"""
downloaded = drive.CreateFile({'id':'1R9vW5dmox7i8OGOoDql_r9yUrvAJgvhD'}) # replace the id with id of file you want to access
downloaded.GetContentFile('Ecommerce Purchases.csv')
"""

# PANDAS EXERCISE
<hr style="height:5px;border-width:2;color:gray">

In this exercise you'll be given some Fake Data regarding purchases done through Amazon. You'll be using that data to answer some questions.<br>
Fill the empty cells with your code.

<div class="alert alert-block alert-warning">
    <b>Note</b>: The <b>*</b> marked questions are relatively harder.
</div>

#### Import pandas and numpy

In [1]:
import pandas as pd
import numpy as np

#### Load the file <code>Ecommerce Purchases.csv</code>

In [3]:
purchase=pd.read_csv('Ecommerce Purchases.csv')

#### Taking a look at the dataframe
1. Display first 5 rows of the dataset
2. Give a concise summary of the dataframe

In [4]:
purchase.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [5]:
purchase.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

#### Find the mean of purchase prices (The answer should be a single float value)

In [6]:
purchase['Purchase Price'].mean()

50.347302

#### Find the highest and lowest purchase prices (The answer to each should be a single float value)

In [7]:
purchase['Purchase Price'].max()

99.99

In [8]:
purchase['Purchase Price'].min()

0.0

## Questions

####  1. How many people made the purchase during the AM and how many people made the purchase during PM ?
<div class="alert alert-block alert-info">
    <b>Hint</b>: Checkout <a href = "https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html"><code>value_counts()</code></a>.
</div>

In [9]:
purchase['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

#### 2. What are the 5 most common Job Titles?

In [11]:
purchase['Job'].value_counts().head()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Job, dtype: int64

#### 3. What is the email of the person with the following Credit Card Number: <code>4926535242672853</code>
(You should only print the e-mail and not the entire row)

In [19]:
purchase[purchase['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

#### 4. How many people have <code>American Express</code> as their Credit Card Provider and made purchase above $95 ?
(Print a single number)

In [31]:
purchase[(purchase['CC Provider']=='American Express') & (purchase['Purchase Price']>95)]['CC Provider'].value_counts()

American Express    39
Name: CC Provider, dtype: int64

#### 5*. What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) 
<div class="alert alert-block alert-info">
    <b>Hint</b>: You may have to use <b>python split()</b>, <b>df.apply()</b>, <b>lambda (optional)</b> and other functions.
</div>

In [32]:
purchase['Email'].str.split('@').str[1].value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [33]:
purchase['Email'].apply(lambda x:x.split('@')[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

#### 6*. Use the given dictionary to replace the language codes with their corresponding languages
<div class="alert alert-block alert-info">
    <b>Hint</b>: You may have to use a function not covered in the material.
</div>

In [34]:
lang = {'ru':'Russian', 'de':'German', 'el':'Greek', 'pt':'Portugese', 'en':'English', 'fr':'French', 'es':'Spanish', 'it':'Italian', 'zh':'Chinese'}

In [36]:
purchase['Language'].replace(lang,inplace=True)
purchase.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,Greek,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,French,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,German,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,Spanish,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,Spanish,77.82

#### 7*. Which language speakers have the third highest total purchase amount.
(You should print a single string)

In [47]:
purchase['Purchase Price'].groupby(purchase['Language']).sum().sort_values(ascending=False)

Language
Greek        58618.44
German       58043.93
Russian      57665.84
Portugese    57258.98
English      56111.11
Italian      54301.09
French       54275.96
Spanish      54056.84
Chinese      53140.83
Name: Purchase Price, dtype: float64

<b>So that's it for this exercise. If you were able to solve the hard problems, you may pat yourself on the back. If not, no need to worry, take a look at the solutions and see how it's done.<br><br>
    The assignment will be somewhat like this (at the same level of difficulty or a little harder). You'll be searching for methods across the web, reading documentationa and learning a lot. But by the time you are done with the assignment you will be fairly proficient in pandas and able to handle almost any kind of data the world throws at you.<br><br>
    Happy Learning !!</b>